<ion-view view-title="Logout Confirmation">
    <ion-nav-view class="padding has-header">
  		<div style ="width: 96%; left: 0.7%; right: 0.7%;" class="card">
			<div style = "text-align: center;" class="item item-divider">
			Are you sure to logout?
			</div>
  			<div class="item item-text-wrap">
  			<button ng-click="cancle()" style="width: 30%; left: 20%" class="button button-energized">Cancel</button>
    <button ng-click="logout()" style="width: 30%; right: -20%" class="button button-calm">Yes</button> 
	  		</div>

</div>
    </ion-nav-view>
</ion-view>