<ion-view view-title="Log in">
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>

	<ion-content class="padding">
		<form ng-submit="doLogin(credential)">
			<div class="list">
				<label class="item item-input">
					<input type="email" placeholder="Email" ng-model="credential.email">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="credential.password">
				</label>
			</div>

			<button type="submit" class="button button-royal button-block">Log in</button>
		</form>
	</ion-content>
</ion-view>