<ion-view view-title="Map">
    <ion-nav-view class="padding has-header">
        <div id="map" data-tap-disabled="true" style="width: 95%; height: 60%; right: 0.7%; left: 0.7%">
        </div>        
    <button ng-click="finish()" style="width: 95%; right: 0.7%; left: 0.7%" class="button button-royal button-block">Finish collection</button>
    <button ng-click="getNext()" style="width: 95%; right: 0.7%; left: 0.7%" class="button button-royal button-block">Get next station</button> 
      <div id="directions-panel">
        
        <b>Next Assignment</b><br><br><b>Next Assignment</b><br><b>Next Assignment</b>
        
<!--
  <ion-card>
  <ion-card-header>
    Next assignment
  </ion-card-header>
-->

<!--  <ion-list>-->
<!--
    <button ion-item>
      <ion-icon name="cart" item-left></ion-icon>
      Shopping
    </button>
-->

<!--
    <button ion-item>
      <ion-icon name="medical" item-left></ion-icon>
      Hospital
    </button>
-->

<!--
    <button ion-item>
      <ion-icon name="cafe" item-left></ion-icon>
      Cafe
    </button>
    </ion-list>
-->
<!--</ion-card>-->
      </div>
    </ion-nav-view>
</ion-view>