<ion-view view-title="Map">
    <ion-nav-view class="padding has-header">
        <div id="map" data-tap-disabled="true" style="height: 60%;">
        </div> 
        <br>       
    <button ng-click="finish()" style="width: 49.5%" class="button button-energized">Finish collection</button>
    <button ng-click="getNext()" style="width: 49.5%;" class="button button-calm">Get next station</button> 
	<div id="directions-panel" >
<!--
      <div class="item item-text-wrap">
      </div>
-->
      </div>
    </ion-nav-view>
</ion-view>