body {
  background-color: beige;
  font-family: 'Trebuchet MS';
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#top {
  border: none;
  border-bottom: 8px solid red;
  width: 100%;
}

#logo {
  color: red;
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
  width: 33%;
}

.adm_1 {
  color: brown;
  font-size: 1.5em;
  font-weight: bold;
}

.h_center {
  text-align: center;
}

#body {
  width: 100%;
}

.half {
  width: 30%;
}

#username, #password {
  width: 100%;
  background-color: transparent;
  font-size: 1.2em;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

#username:focus, #password:focus {
  outline: none;
}

.button_login {
  background-color: slategray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: none;
  cursor: pointer;
  border-radius: 12px;
  outline: none;
}

.button_login:focus {
  outline: none;
}

.v_middle {
  vertical-align: middle;
}

.v_top {
  vertical-align: top;
}

.news_1 {
  color: black;
  font-size: 1.2em;
  font-family: 'Tahoma';
}

.transparent {
  color: transparent;
}

.bless {
  color: red;
  font-size: 2em;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 1em;
}

.sub_title {
  color: purple;
  font-size: 1.2em;
  width: 50%;
  border-bottom: 3px solid purple;
  font-weight: bold;
}

.small_button {
  background-color: red;
  color: white;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 0.6em;
  cursor: pointer;
  margin: 10px 0px 10px 10px;
}

.small_button:focus {
  outline: none;
}

.driver {
  color: purple;
  font-size: 1.2em;
  width: 50%;
}

.button_2 {
  color: purple;
  font-size: 1.2em;
  width: 50%;
}

.add_driver {
  color: darkblue;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.input_field {
  width: 100%;
  background-color: transparent;
  font-size: 1.2em;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.input_field:focus {
  outline: none;
}