body {
  background-color: beige;
  font-family: 'Trebuchet MS';
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#top {
  border: none;
  border-bottom: 8px solid red;
  width: 100%;
}

#logo {
  color: red;
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
  width: 33%;
}

.adm_1 {
  color: brown;
  font-size: 1.5em;
  font-weight: bold;
}

.h_center {
  text-align: center;
}

#body {
  width: 100%;
}

.half {
  width: 30%;
}

#username, #password {
  width: 100%;
  background-color: transparent;
  font-size: 1.2em;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

#username:focus, #password:focus {
  outline: none;
}

.button_login {
  background-color: slategray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: none;
  cursor: pointer;
  border-radius: 12px;
  outline: none;
}

.button_login:focus {
  outline: none;
}

.v_middle {
  vertical-align: middle;
}

.v_top {
  vertical-align: top;
}

.news_1 {
  color: black;
  font-size: 1.2em;
  font-family: 'Tahoma';
}

.transparent {
  color: transparent;
}

.bless {
  color: red;
  font-size: 2em;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 1em;
}

.sub_title {
  color: purple;
  font-size: 1.2em;
  width: 28%;
  border-bottom: 3px solid purple;
  font-weight: bold;
}

.small_button {
  background-color: red;
  color: white;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 0.6em;
  cursor: pointer;
  margin: 10px 0px 10px 10px;
}

.small_button:focus {
  outline: none;
}

.driver {
  color: purple;
  font-size: 1.2em;
  width: 28%;
}

.button_2 {
  color: purple;
  font-size: 1.2em;
  width: 50%;
}

.add_driver {
  color: darkblue;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.input_field {
  width: 100%;
  background-color: transparent;
  font-size: 1.2em;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.input_field:focus {
  outline: none;
}

.fat {
  padding-top: 0.8em;
}

.blue_button {
  background-color: blue;
  color: white;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 0.6em;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
  display: inline-block;
}

.blue_button:focus {
  outline: none;
}

.chat_box {
  display: block;
  border: none;
  border: 2px solid green;
  position: absolute;
  top: 7em;
  width: calc(100vw - 6em);
  height: calc(100vh - 13em);
  overflow-y: scroll;
  overflow-x: auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.1em;
}

.input_box {
  display: block;
  border: none;
  border: 2px solid red;
  position: absolute;
  width: calc(100vw - 4.4em);
  height: 2em;
  bottom: 2.5em;
}

.floating {
  display: inline-block;
  float: right;
  height: 100%;
  background-color: red;
  color: white;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  border:none;
  margin: none;
  outline: none;
  cursor: pointer;
}

.floating:focus {
  outline: none;
}

#chat_msg {
  display: inline-block;
  float: left;
  height: 1.8em;
  background-color: transparent;
  font-size: 1.1em;
  outline: none;
  border: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: calc(100% - 5.1em);
}

#chat_msg:focus {
  outline: none;
}

.but {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  cursor: pointer;
  float: left;
  width: 12.5%;
}

.but1 {
  background-color: red;
}

.but1:hover {
  background-color: darkred;
}

.but2 {
  background-color: green;
}

.but2:hover {
  background-color: darkgreen;
}

.but3 {
  background-color: blue;
}

.but3:hover {
  background-color: darkblue;
}

.but4 {
  background-color: orange;
}

.but4:hover {
  background-color: darkorange;
}

.but5 {
  background-color: fuchsia;
}

.but5:hover {
  background-color: deeppink;
}

.but6 {
  background-color: yellow;
}

.but6:hover {
  background-color: darkgoldenrod;
}

.but7 {
  background-color: purple;
}

.but7:hover {
  background-color: darkmagenta;
}

.but8 {
  background-color: gray;
}

.but8:hover {
  background-color: darkslategray;
}

#assign {
  font-size: 1em;
  width: 100%;
  border: none;
  font-family: 'Tahoma';
}

.m_2 = {
  width: 14.2%;
}
